<?xml version="1.0"?>
<model>
  <name>husky_panda</name>
  <version>1.0</version>
  <sdf version="1.8">model.sdf</sdf>
  <author>
    <name>Aditya</name>
    <email>adityasinofficial@gmail.com</email>
  </author>
  <description>
    A Clearpath Husky mobile base with a Franka Emika Panda arm mounted on the top plate.
  </description>
</model>